<form [formGroup]="form" (ngSubmit)="processForm()">
  <h1>Todo</h1>
  <table>
    <tr>
      <td>Description:</td>
      <td>
        <mat-form-field>
        <input matInput type="text" formControlName="description">
      </mat-form-field>
        <div class="error" *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
          <small *ngIf="form.get('description')?.errors?.['required']">Description is required.</small>
          <small *ngIf="form.get('description')?.errors?.['minlength']">Must be at least 5 characters long.</small>
        </div>
      </td>
    </tr>

    <tr>
      <td>Priority:</td>
      <td>
        <mat-radio-group formControlName="priority">
          <mat-radio-button value="Low">
            Low
          </mat-radio-button>
          <mat-radio-button value="Medium">
            Medium
          </mat-radio-button>
          <mat-radio-button value="High">
            High
          </mat-radio-button>
        </mat-radio-group>
      </td>
    </tr>

    <tr>
      <td>Due:</td>
      <td>
        <input type="date" formControlName="due">
        <div class="error" *ngIf="form.get('due')?.invalid && form.get('due')?.touched">
          <small *ngIf="form.get('due')?.errors?.['required']">Due date is required.</small>
        </div>
      </td>
    </tr>
  </table>

  <button mat-fab extended type="submit" [disabled]="form.invalid"> <mat-icon>add</mat-icon>
    </button>
</form>

<!-- Display the added todos -->
<div class="tasks">
  <h1>Tasks</h1>
  <ul>
    <li *ngFor="let todo of todos; let i = index">
      <strong>{{ todo.description }}</strong> - {{ todo.priority }} - Due: {{ todo.due }}
      <button mat-fab extended type="button" (click)="removeTodo(i)"><mat-icon>done</mat-icon></button>
    </li>
  </ul>
</div>